.iconRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4px;
}

.lefticons{
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon{
  width: 23px;
  height: 23px;
  cursor: pointer;
  fill: #262626;
  margin-right: 17px;
  font-weight: bolder;
}

.saveicon{
  width: 23px;
  height: 23px;
  cursor: pointer;
  fill: #262626;
  font-weight: bolder;
}
.likeCount {
  font-size: 14px;
  color: #262626;
  margin-left: 5px;
  font-weight: bolder;
}
